body {
    font-family: Arial, sans-serif;
}

nav {
    min-height: 100vh;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-bottom: 15px;
}

nav ul li a {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
